<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltt.demo.mapper.PropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ltt.demo.entity.Property">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="can_edit" property="canEdit" />
        <result column="order_num" property="orderNum" />
        <result column="last_update_timestamp" property="lastUpdateTimestamp" />
        <result column="company_id" property="companyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, type, can_edit, order_num, last_update_timestamp, company_id
    </sql>

    <select id="queryMaxCode" resultType="java.lang.String">
        select MAX(CODE)
        from t_property
    </select>
</mapper>
