<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltt.demo.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ltt.demo.entity.Student">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="order_num" property="orderNum" />
        <result column="last_update_timestamp" property="lastUpdateTimestamp" />
        <result column="company_id" property="companyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, order_num, last_update_timestamp, company_id
    </sql>
    <!--查询学生信息-->
    <select id="DetailStudent" parameterType="String">
        select from t_student where id=#{id}
    </select>
</mapper>
